<div class="row">
	<div class="col-md-4">
	  <!-- start panel -->
	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">輸入詞表</h3>
        </div>
		<div class="panel-body">
			<textarea id='wordlist' rows="22" cols="20" placeholder="請輸入詞表，例如：
的
我
了
你
他"></textarea><br>
			<input type='button' value='送出' onClick='request_wordinfo()'>
		</div>
	  </div>
	  <!-- end panel -->

	</div>
	<div class="col-md-8">
	  <!-- start panel -->
	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">輸出語料庫統計訊息</h3>
        </div>
		<div class="panel-body">
		  <div id='wordinfo'></div>
		</div>
	  </div>
	  <!-- end panel -->

	</div>
</div>
